<div class="container">
  <div *ngIf="user">
    <h3>{{user.name}} | id: {{user.id}}</h3>
    <div>
      <p>{{user.email}}</p>
      <p>{{user.type}}</p>
      <p>{{user.createdAt}}</p>
    </div>
    <button (click)="gotoList()" class="btn btn-success">Voltar</button>
    <button (click)="gotoEdit(user.id)" class="btn btn-success">Editar</button>
  </div>
  <div *ngIf="!user">
    <p>{{errorMessage}}</p>
    <button (click)="getUser(id)" class="btn btn-success">Recarregar</button>
  </div>
</div>