<div class="container" [hidden]="submitted">
  <h2>Faça seu login:</h2>
  <form (ngSubmit)="onSubmit(username.value, password.value); loginForm.reset()" #loginForm="ngForm">
    <p>{{errorMessage}}</p>
    <div class="form-group">
      <label for="username">Usuário</label>
      <input type="text" class="form-control" placeholder="digite seu usuário" id="username"
             required
             [(ngModel)]="campoVazioUser" name="username"
             #username="ngModel">
      <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
          É necessário inserir um usuário
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" class="form-control" placeholder="digite sua senha" id="password"
            required
            [(ngModel)]="campoVazioPassword" name="password"
            #password="ngModel">
      <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          É necessário digitar uma senha
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">
            Log in
    </button>
  </form>
</div>